*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container h1 {
  color: white;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: center;
}

body {
  min-height: 100vh;
  background: linear-gradient(110deg, #0f1829, #050218)
}

/* .image:hover {
  opacity: 0.7;
} */

.big-container{
  width: 100%;
  height: 96vh;
  /* max-width: 1200px; */
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  animation: fade 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade{
  to{opacity: 1;}
}

/* .container{
  width: 100%;
  height: 100%;
  overflow: auto;
} */

header{
  min-height: 60px;
  width: 100%;
  border-bottom: #fff8;
  overflow: hidden;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

header .logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  text-shadow: 0 0 5px white;
}

header nav{
  float: right;
  margin-right: 200px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  margin-right: 30px;
  min-width: 450px;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;
}

.active{
  background: teal;
  border-radius: 20pc;
}

a:hover{
  color: turquoise;
}

nav form{
  height: 30px;
  min-width: 300px;
  margin: 10px 0;
}

form input{
  height: 100%;
  width: 250px;
  border: 1px solid teal;
  background: #0007;
  padding: 0 5px;
  color: white;
  outline: none;
}

form button {
  width: 50px;
  height: 100%;
  border: 1px solid teal;
  background: #0007;
  color:white;
  cursor: pointer;
}




/*  */
.container {
  position: relative;
  min-height: 100vh;
}

.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image{
  height: 300px;
  width: 300px;
  /* border: 10px solid white; */
  box-shadow: 0 5pc 15pc rgba(0,0,0,.1);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  object-fit: cover;
  transition: .2s linear;
}

.container .image-container .image:hover img{
  transform: scale(1.01);
}

.container .popup-image{
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(0 ,0 ,0 ,0.7); */
  height: 100%;
  width: 100%;
  z-index: 100;
  /* animation: fade 2s ease-in-out forwards; */
  /* -webkit-animation-name: ease-in-out fade; */
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: none;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* @-webkit-keyframes ease-in-out {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes ease-in-out {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

.container .popup-image span{
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
  font-size: 50px;
  /* height: 200px;
  width: 200px; */
  color: #fff;
}

.container .popup-image i{
  position: absolute;
  /* top: 70px; */
  /* right: 160px; */
  top: 50px;
  right: 25px;
  cursor: pointer;
  font-size: 35px;
  /* height: 200px;
  width: 200px; */
  color: #fff;
  object-fit: cover;
}

.container .popup-image form label{
  bottom: 0;
  left: 0;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;
}

.container .popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid white; */
  border-radius: 5px;
  width: 1000px;
  height: 600px;
  object-fit: cover;
}

.popup-image-title-comment-rating {
  position: fixed;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  /* top: 200px; */
  /* left: 25%; */
  /* background-color: rgba(0 ,0 ,0 ,0.7); */
  /* height: 100%; */
  height: 600px;
  /* width: 100%; */
  width: 1200px;
  top: 8%;
  left: 11%;

  background-color:#0f1829;
  /* width: 100%;
  height: 100%; */
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  /* border: 3px solid #f1f1f1; */
  /* z-index: 100; */
  /* animation: fade 2s ease-in-out forwards; */
  /* -webkit-animation-name: ease-in-out fade; */
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: none;
  overflow: visible;

}

/* .container .popup-image-title-comment-rating { */
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; */
  /* display: none; */
  /* position: fixed; */
  /* height: 500px; */
  /* width: 500px; */
  /* bottom: 0; */
  /* right: 15px; */
  /* border: 3px solid #f1f1f1; */
  /* z-index: 9; */
/* } */

/* .container .popup-image-title-comment-rating .image-title-comment-rating {
  background-color:#0f1829;
  width: 1200px;
  height: 600%;
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgb(255, 255, 255)

} */

/* .container .popup-image-title-comment-rating form {

  background-color:#0f1829;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgb(255, 255, 255)
} */

.container .popup-image-title-comment-rating span{

  margin-left: 42%;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;

}


/* .container .popup-image-title-comment-rating .image-title-comment-rating span{

  margin-left: 42%;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;

} */
/* .container .popup-image-title-comment-rating form label{

  margin-left: 42%;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;

} */

.title{
  align-items: center;
  text-align: center;
  font-size: x-large;
  /* cursor: pointer; */
}


.comment{
  align-items: center;
  text-align: center;
  font-size: medium;
  /* cursor: pointer; */
}

.rating{
  align-items: center;
  text-align: center;
  font-size: medium;
  /* cursor: pointer; */
}

.container .popup-image-title-comment-rating img {
  position: relative;
  left: 28%;
  height: 300px;
  width: 500px;
}


i {
  cursor: pointer;
}

/* TITLE---------------------------------------------------------------------------------------------------------------- */

.popup-edit-title{

  margin-top: -20%;
  margin-left: 40%;
  position: relative;
  /* display: inline-block; */
  display: none;
  height: 200px;
  width: 300px;
  border-radius: 5%;
  background-color:#07060dd1;
  border: #fff;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  /* transition: all .5s ease-in-out; */
  /* display: block; */
  /* cursor: pointer; */
  /* overflow: visible */
}


.popup-edit-title input {

  height: 50px;
  width: 100%;
  background-color:#0f1829;
  /* border: 1px solid teal;
  background: #0007;
  padding: 0 5px;
  color: white; */
  /* outline: none; */
}

.popup-edit-title label {
  color: white;

}

.popup-edit-title button {
  
  margin-left: 40%;
  height: 30px;
  width: 50px;  
  background-color:#0f1829;
}

.popup-edit-title span {
color: white;
/* cursor: pointer; */
}



.popup-edit-title form{
  height: 200px;
  width: 300px;
}

/* .popup-edit-attribute form button{
  width: 50px;
  height: 100px;
  border: 1px solid teal;
  background: #0007;
  color:white;
  cursor: pointer;
} */


.popup-image-title-comment-rating .fa_fa-edit{
  /* cursor: pointer; */
  color: white;
  height: 24px;
  width: 24px;
}



/* COMMENT ---------------------------------------------------------------------------------------------------------------------*/

.popup-edit-comment{

  margin-top: -20%;
  margin-left: 40%;
  position: relative;
  /* display: inline-block; */
  display: none;
  height: 200px;
  width: 300px;
  border-radius: 5%;
  background-color:#07060dd1;
  border: #fff;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  /* transition: all .5s ease-in-out; */
  /* display: block; */
  /* cursor: pointer; */
  /* overflow: visible */
}


.popup-edit-comment input {

  height: 50px;
  width: 100%;
  background-color:#0f1829;
  /* border: 1px solid teal;
  background: #0007;
  padding: 0 5px;
  color: white; */
  /* outline: none; */
}

.popup-edit-comment label {
  color: white;

}

.popup-edit-comment button {
  
  margin-left: 40%;
  height: 30px;
  width: 50px;  
  background-color:#0f1829;
}

.popup-edit-comment span {
color: white;
cursor: pointer;
}



.popup-edit-comment form{
  height: 200px;
  width: 300px;
}

/* .popup-edit-attribute form button{
  width: 50px;
  height: 100px;
  border: 1px solid teal;
  background: #0007;
  color:white;
  cursor: pointer;
} */


.popup-image-title-comment-rating .fa_fa-edit{
  cursor: pointer;
  color: white;
  height: 24px;
  width: 24px;
}

/* RATING ----------------------------------------------------------------------------------------------------------------------*/

.popup-edit-rating{

  margin-top: -20%;
  margin-left: 40%;
  position: relative;
  /* display: inline-block; */
  display: none;
  height: 200px;
  width: 300px;
  border-radius: 5%;
  background-color:#07060dd1;
  border: #fff;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  /* transition: all .5s ease-in-out; */
  /* display: block; */
  /* cursor: pointer; */
  /* overflow: visible */
}


.popup-edit-rating input {

  height: 50px;
  width: 100%;
  background-color:#0f1829;
  /* border: 1px solid teal;
  background: #0007;
  padding: 0 5px;
  color: white; */
  /* outline: none; */
}

.popup-edit-rating label {
  color: white;

}

.popup-edit-rating button {
  
  margin-left: 40%;
  height: 30px;
  width: 50px;  
  background-color:#0f1829;
}

.popup-edit-rating span {
color: white;
cursor: pointer;
}



.popup-edit-rating form{
  height: 200px;
  width: 300px;
}

/* .popup-edit-attribute form button{
  width: 50px;
  height: 100px;
  border: 1px solid teal;
  background: #0007;
  color:white;
  cursor: pointer;
} */


.popup-image-title-comment-rating .fa_fa-edit{
  cursor: pointer;
  color: white;
  height: 24px;
  width: 24px;
}



@media screen and (max-width: 800px) {
  .popup-image-title-comment-rating{
    width: 100%; 
  }
}

@media screen and (max-width: 650px) {
  .popup-image-title-comment-rating{
    width: 60%; 
  }
}

@media screen and (max-width: 300px) {
  .popup-image-title-comment-rating{
    width: 50%; 
  }
}

@media screen and (max-width: 800px) {
  .container .popup-image-title-comment-rating img{
    width: 100%; 
  }
}

@media screen and (max-width: 650px) {
  .container .popup-image-title-comment-rating img{
    width: 60%; 
  }
}

@media screen and (max-width: 300px) {
  .container .popup-image-title-comment-rating img{
    width: 30%; 
  }
}


