*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  color: white;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
}

body {
  min-height: 100vh;
  background: linear-gradient(110deg, #0f1829, #050218)
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  /* grid-auto-rows: 3fr; */
  /* grid-auto-columns: 3fr;  */
}
.full .content img {
  left: 50%;
  /* right: 50%; */
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  /* display: block; */
  /* margin-top: 100px;
  margin-bottom: 1000px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 70%; */
  /* height: 70%; */
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  /* margin: 30px 100px 100px 100px; */
  /* margin: auto; */

  /* justify-content: center;
  align-items: center;
  width: 50%;
  height: 1000px;

  display: flex; */

}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;  


  /* grid-column-gap: 3px; */
  /* grid-row-gap: 3px; */

  /* grid-gap: 10px; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: masonry; */
  /* grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-auto-rows: 0.1fr; */
  /* grid-auto-columns: 0.1fr; */
}

.gallery img {
  max-width: 100%;
  /* width: 350px; */
  /* height: 350px; */
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

/* .gallery-item3 {
  grid-column: 2/-1;
}

.gallery-item6 {
  grid-row: 3/6;
  grid-column: 3 / 5;
}

.gallery-item17 {
  grid-row: 6 / span 2;
  grid-column: 2/3;
}

.gallery-item4 {
  grid-row: 4 / 7;
} */

.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
  /* border-radius: 5px;
  padding: 20px; */
}

.content{
  grid-column: auto / span 2;
}

.gallery .gallery-item {
  width: 100%;
  height: 100%;
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
