*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

h1 {
    color: white;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 10px;
    /* align-items: center; */
}

body {
    min-height: 100vh;
    background: linear-gradient(110deg, #0f1829, #050218)
}

/* .content img {
    height: 100%;
    max-width: 100%;
} */

.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: repeat (auto-fill,350px);
    grid-auto-flow: row dense;  
}

 img {
    height: 100vh;
    width: 100vw;
} 

.gallery img {
    
    max-width: 300px;
    max-height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgb(255, 253, 253);    
    object-fit: cover;
}

/* .gallery .item {
    max-width: 300px; 
    max-height: 350px;
} */

.content{
    grid-column: auto / span 2;
  }

img{
    /* display: block; */
    

}
.gallery-item {
    flex: 100%;
    max-width: 100%;
    }

.gallery-item img {
    vertical-align: middle;
}
 .content {
    position: relative;
    width: 100%; 
}

img {
    opacity: 1;
    
    display:flex;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  } 



.image__overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align:center;
    }

.gallery-item:hover img {
    opacity: 0.3;
  

  }
  
  .gallery-item:hover .image__overlay {
    opacity: 1;
  }

  



  
  .image__title {
    box-sizing: border-box;
    scroll-behavior: smooth;


     color: white;
    font-size: 16px;
     padding: 16px 32px;  
  }
/* .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    background-color: rgba(0 ,0 ,0 ,0.6)
} */


/* .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
} */
