*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  header nav{
    float: right;
    margin-right: 20px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    margin-right: 30px;
    min-width: 450px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: 0 0 5px white;
}

.active{
    background: teal;
    border-radius: 20pc;
}

a:hover{
    color: turquoise;
    opacity: 1;
}

nav form{
    height: 30px;
    min-width: 300px;
    margin: 10px 0;
}

h1 {
    color: white;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 10px;
    /* align-items: center; */
}

body {
    min-height: 100vh;
    background: linear-gradient(110deg, #0f1829, #050218)
}

/* .content img {
    height: 100%;
    max-width: 100%;
} */

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 350px;
    grid-auto-flow: row dense;  
}

 img {
    height: 100vh;
    width: 100vw;
} 

.gallery img {
    
    max-width: 300px;
    max-height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;    
    object-fit: cover;
}

/* .gallery .item {
    max-width: 300px; 
    max-height: 350px;
} */

.content{
    grid-column: auto / span 2;
}


/*
img{
    /* display: block; */
    

/* } /*
/* .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    background-color: rgba(0 ,0 ,0 ,0.6)
} */


/* .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
} */
