*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

h1 {
    color: white;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 10px;
    text-align: center;
}

a {
    height: 305px;
    width: 305px;
}

body {
    min-height: 100vh;
    background: linear-gradient(110deg, #0f1829, #050218)
}


.gallery {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    /* grid-row: 300px; */
    /* grid-auto-rows: 350px; */
    /* grid-auto-flow: row dense; */
}


img {
    display: flex;
    height: 300px;
    width: 300px;
}

.gallery img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
}

.gallery-item img{
    vertical-align: middle;
}

.content {
    position: relative;
    width: 100%;
}

.gallery-item {
    position: absolute;
    display: flex;
}


.image__overlay {
    position: absolute;
    color: white;
    top: 20%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    opacity: 0;
    transition: opacity 0.25em;
}

.image__overlay:hover{
    opacity: 1;
}

.gallery-item:hover img{
    opacity: 0.3;
}

.gallery-item:hover .image__overlay{
    opacity: 1;
}

.image__overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title{
    font-size: 2em;
    font-weight: bold;
}

.image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
}


.content {
    position: relative;
    width: 300px;
    height: 300px;
}
